.math_photo{
	border: 3px solid #A9BF00;
	border-radius: 50px;
	margin-bottom: 6px;
}


body{
	background:#FAFFD2;
	padding: 5px;
	max-width:900px;
	margin: auto;
}

a {
	text-decoration: underline;
	color: black;

}

#title, .section_title, .post_title {
	color: #5A5A5A;
	font-family:Verdana, Arial;
}

#title{
	text-transform: uppercase;
	font-family: Montserrat;
	font-size: 50px;
	margin: 0;

}

.subtitle{
	font-family:Verdana;
	font-size: 25px;
	margin:0;

}

.section_title{
	background: white;
	padding: 15px;
}

.post{
	background: white;
	padding: 15px;
	border: 3px solid #A9BF00;
	border-radius: 30px;
	margin-bottom: 15px;
}
.post_title{
	color: #7C0000;
	font-size:19px;
	margin: 0;
	margin-bottom: 15px;
}

.post_image{
	margin-bottom: 15px;
	border-radius: 30px;
	width: 100%;
}

.post_text{
	color: black;
	font-size: 16px;
	font-family:Verdana;
	margin: 0;
	margin-bottom: 15px;
	text-align: justify;
	font-transfor
}

.ref{
	color: red;
}

.info_site{
	line-height: 25px;
	font-family: Montserrat, Verdana;
	font-size: 13px;
	background: white;
	padding: 5px;
	border: 3px solid #A9BF00;
	border-radius: 25px;
	margin-bottom: 15px;

}
.style_list{
	list-style-type: none;
	line-height: 25px;
	padding-left: 8px;
}

